@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.hero {
	position: relative;
	width: 100%;
	height: 949px;

	@include desktop {
		&::before {
			content: "";
			position: absolute;
			top: 140px;
			right: 60px;
			width: 305px;
			height: 283px;
			margin: 0 auto;
			background: url("../../assets/images/hero-element-left.png") center center
				no-repeat;
			background-size: 305px 283px;
		}

		&::after {
			content: "";
			position: absolute;
			left: 60px;
			bottom: 60px;
			margin: 0 auto;
			width: 367px;
			height: 341px;
			background: url("../../assets/images/hero-element-right.png") center
				center no-repeat;
			background-size: 305px 283px;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, #ffd2ac 0%, rgba(144, 70, 7, 0.87) 100%),
			url(../../assets/images/hero.png) center center no-repeat;
		background-blend-mode: multiply;
		background-size: cover;
	}

	&__content {
		position: absolute;
		top: 40%;
		left: 50%;
		width: 100%;
		padding: 0 30px;
		color: #fff;
		text-align: center;
		transform: translate(-50%, -50%);

		&--text {
			margin-bottom: 76px;

			h2 {
				display: none;
				color: #fff;
				font-size: 70px;
				font-family: "Urbanist SemiBold";

				@include desktop {
					display: flex;
					justify-content: center;
				}
			}

			.mobileHeading {
				display: block;
				color: #fff;
				font-size: 50px;
				font-family: "Urbanist SemiBold";

				@include desktop {
					display: none;
				}
			}

			p {
				color: #fff;
				font-size: 20px;
				font-family: "Urbanist Medium";
				font-size: 20px;
			}
		}

		&--search {
			max-width: 802px;
			margin: 0 auto;
			font-family: "Urbanist Regular";

			&-inner {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				padding: 0 5%;
				margin-bottom: 20px;
				border-radius: 10px;

				@include tablet {
					flex-wrap: nowrap;
					padding: 5px;
					border-radius: 50px;
					background-color: #fff;

					&::after {
						content: "";
						position: absolute;
						top: 50%;
						bottom: 0;
						left: 30px;
						display: block;
						width: 16px;
						height: 16px;
						margin: 0 auto;
						background: url("../../assets/icons/search-icon.svg") center center
							no-repeat;
						background-size: 16px;
						transform: translate(-50%, -50%);
					}
				}

				input {
					max-width: 100%;
					width: 100%;
					padding: 10px;
					font-size: 16px;
					border: 0;
					border-radius: 50px;

					@include tablet {
						width: auto;
						padding: 0 39px;
					}

					&:focus {
						outline: none;
					}

					&::placeholder {
						color: #2d2e33;
					}
				}

				button {
					padding: 14px 30px 13px;

					@include tablet {
						margin-left: 20px;
					}
				}
			}

			p {
				font-size: 20px;
			}
		}
	}
}
