@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.learn-more {
	padding: 0;

	@include tablet {
		padding: 30px;
	}

	@include desktop {
		padding: 80px 100px 0;
	}

	@include large {
		padding: 80px 255px 40px;
	}

	&__wrapper {
		position: relative;
		padding: 60px 30px 30px 30px;
		background: url(../../assets/images/learn-more-overlay.png) center center
				no-repeat,
			url(../../assets/images/learn-more-bg.png) center center no-repeat;
		background-size: cover;

		@include tablet {
			padding: 113px 121px 111px;
			border-radius: 15px;
		}
	}

	&__content {
		@include desktop {
			width: 55%;
		}

		h2 {
			position: relative;
			padding-left: 54px;
			margin-bottom: 30px;
			color: #fff;
			font-size: 40px;
			font-family: "Urbanist Bold";

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 34px;
				height: 32px;
				background: url("../../assets/icons/megaphone-icon.svg") center center
					no-repeat;
				background-size: 34px 32px;
				transform: translate(0%, -50%);
			}
		}

		p {
			padding-right: 0;
			margin-bottom: 30px;
			color: #fff;
			font-size: 16px;
			font-family: "Urbanist Regular";
			line-height: 24px;

			@include tablet {
				padding-right: 73px;
			}
		}

		button {
			color: #fff;
			font-size: 16px;
			font-family: "Urbanist SemiBold";
		}
	}

	.badge {
		position: absolute;
		top: 20px;
		right: 19px;
		padding: 7px 9px 6px 10px;
		color: #cbccce;
		border-radius: 5px;
		font-size: 14px;
		font-family: "Urbanist Regular";
		background: #fff;
	}
}
