@font-face {
	font-family: "Urbanist Regular";
	src: url(../assets/fonts/Urbanist-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: "Urbanist Medium";
	src: url(../assets/fonts/Urbanist-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: "Urbanist SemiBold";
	src: url(../assets/fonts/Urbanist-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: "Urbanist Bold";
	src: url(../assets/fonts/Urbanist-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: "Urbanist ExtraBold";
	src: url(../assets/fonts/Urbanist-ExtraBold.ttf);
	font-weight: 800;
}
