@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.take-the-test {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 80px 30px;

	@include desktop {
		padding: 80px 100px 80px;
	}

	@include large {
		padding: 80px 255px 80px;
	}

	&__text {
		@include desktop {
			width: 45.5%;
		}

		h2 {
			position: relative;
			padding-left: 54px;
			margin-bottom: 30px;
			color: #2d2e33;
			font-size: 40px;
			font-family: "Urbanist Bold";

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 30px;
				height: 30px;
				background: url("../../assets/icons/video-dark-icon.svg") center center
					no-repeat;
				background-size: 30px;
				transform: translate(0%, -50%);
			}
		}

		h4 {
			margin-bottom: 15px;
			color: #2d2e33;
			font-size: 20px;
			font-family: "Urbanist SemiBold";
			line-height: 24px;
		}

		p {
			margin-bottom: 30px;
			color: #8b8b8e;
			font-size: 16px;
			font-family: "Urbanist Regular";
			line-height: 24px;

			@include desktop {
				padding-right: 73px;
			}
		}

		button {
			color: #fff;
			font-size: 16px;
			font-family: "Urbanist SemiBold";
		}
	}

	&__video {
		width: 100%;
		height: auto;
		margin-top: 30px;

		@include desktop {
			width: 50%;
		}

		@include large {
			width: 690px;
			height: 420px;
		}

		video {
			width: 100%;
			height: 100%;
			border-radius: 15px;
			object-fit: cover;
		}
	}
}
