@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.button {
	display: inline-block;
	padding: 8px 30px 9px;
	border: 2px solid #050835;
	border-radius: 50px;
	color: #fff;
	text-decoration: none;
	font-family: "Urbanist Medium";
	font-weight: 500 !important;
	background: #050835;
	font: inherit;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:hover,
	&:active {
		border-color: #050835;
		background: #fff;
		color: #050835;
	}

	&--inverse {
		color: #050835;
		border: 2px solid#fff;
		background: #fff;

		&:hover,
		&:active {
			color: #050835;
			border-color: red;
			background: red;
		}
	}

	&--danger {
		border-color: red;
		background: red;

		&:hover,
		&:active {
			border-color: #f34343;
			background: #f34343;
		}
	}

	&--small {
		font-size: 0.8rem;
	}

	&--big {
		font-size: 1.5rem;
	}

	&:disabled,
	&:hover:disabled,
	&:active:disabled {
		color: #979797;
		border-color: #ccc;
		outline: none;
		background: #ccc;
		cursor: not-allowed;
	}
}
