@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.button {
	display: inline-block;
	padding: 16px 30px;
	border: 2px solid #050835;
	border-radius: 50px;
	color: #fff;
	text-decoration: none;
	font-family: "Urbanist Medium";
	font-weight: 500 !important;
	background: #050835;
	font: inherit;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:hover,
	&:active {
		border-color: #050835;
		background: #fff;
		color: #050835;
	}

	&--inverse {
		color: #fff;
		border: 2px solid#fff;
		background: transparent;

		&:hover,
		&:active {
			color: #050835;
			border-color: #fff;
			background: #fff;
		}
	}
}
