.scroller {
	position: relative;
	display: flex;
	height: 1.2em;
	width: 4em;
	margin-left: 20px;
	line-height: 1.2em;
	text-align: left;
	overflow: hidden;

	& > span {
		position: absolute;
		top: 0;
		font-size: 72px;
		font-weight: bold;
		animation: slide 5s infinite;

		span {
			background: -webkit-linear-gradient(
				left,
				rgba(5, 8, 53, 1),
				rgba(248, 8, 51, 1)
			);
			background: -o-linear-gradient(
				right,
				rgba(5, 8, 53, 1),
				rgba(248, 8, 51, 1)
			);
			background: -moz-linear-gradient(
				right,
				rgba(5, 8, 53, 1),
				rgba(248, 8, 51, 1)
			);
			background: linear-gradient(
				to right,
				rgba(5, 8, 53, 1),
				rgba(248, 8, 51, 1)
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

@keyframes slide {
	0% {
		top: 0;
	}
	25% {
		top: -1.2em;
	}
	50% {
		top: -2.4em;
	}
}
